extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .container-fluid
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Chi Tiết Phiếu Mượn
                a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/phieumuon`) 
                    i.fas.fa-arrow-left.mr-1
                    | Quay lại
            
            .card-body
                // Thông tin chung phiếu mượn
                .row.mb-4
                    .col-md-12
                        h5.mb-3.text-primary
                            i.fas.fa-info-circle.mr-2
                            | Thông tin phiếu mượn
                        
                        .row
                            .col-md-6
                                .info-item.mb-2
                                    strong Mã phiếu mượn: 
                                    span.text-muted #{phieuMuon.maPhieu}
                                .info-item.mb-2
                                    strong Nhân viên cho mượn: 
                                    span.text-muted #{empData.hoNV} #{empData.tenNV}
                                .info-item.mb-2
                                    strong Độc giả: 
                                    span.text-muted #{dgData.hoDG} #{dgData.tenDG}
                            .col-md-6
                                .info-item.mb-2
                                    strong Hình thức mượn: 
                                    span.badge(class=(phieuMuon.hinhThuc == 1 ? 'badge-primary' : 'badge-info'))
                                        if phieuMuon.hinhThuc == 1
                                            | Mang về
                                        else
                                            | Tại chỗ
                                .info-item.mb-2
                                    strong Ngày mượn: 
                                    span.text-muted #{moment(phieuMuon.ngayMuon).format("DD/MM/YYYY")}
                                .info-item.mb-2
                                    strong Trạng thái chung: 
                                    span.badge(class=(phieuMuon.TRA ? 'badge-success' : 'badge-warning'))
                                        if phieuMuon.TRA
                                            | Đã trả toàn bộ
                                        else
                                            | Chưa trả hết

                hr

                // Danh sách sách đã mượn
                .row
                    .col-md-12
                        h5.mb-3.text-primary
                            i.fas.fa-book.mr-2
                            | Danh sách sách đã mượn
                        
                        if ctpmList && ctpmList.length > 0
                            .table-responsive
                                table.table.table-bordered.table-hover
                                    thead.thead-light
                                        tr
                                            th.text-center #
                                            th Mã sách
                                            th Tên sách
                                            th.text-center Ngày trả dự kiến
                                            th.text-center Tình trạng mượn
                                            th.text-center Trạng thái
                                            th.text-center Thao tác
                                    tbody
                                        each sach, index in ctpmList
                                            tr
                                                td.text-center #{index + 1}
                                                td 
                                                    strong #{sach.maSach}
                                                td #{sach.tenSach}
                                                td.text-center 
                                                    span.badge.badge-info #{moment(sach.ngayTra).format("DD/MM/YYYY")}
                                                td.text-center
                                                    span.badge(class=(sach.tinhTrangMuon ? 'badge-success' : 'badge-secondary'))
                                                        if sach.tinhTrangMuon
                                                            | Mới
                                                        else
                                                            | Cũ
                                                td.text-center
                                                    if sach.daTraSach
                                                        span.badge.badge-success
                                                            i.fas.fa-check.mr-1
                                                            | Đã trả
                                                    else if sach.matSach
                                                        span.badge.badge-danger
                                                            i.fas.fa-times.mr-1
                                                            | Mất sách
                                                    else
                                                        span.badge.badge-warning
                                                            i.fas.fa-clock.mr-1
                                                            | Chưa trả
                                                td.text-center
                                                    if !sach.daTraSach && !sach.matSach
                                                        .btn-group(role="group")
                                                            button.btn.btn-success.btn-sm.return-book-btn(
                                                                type="button" 
                                                                data-ma-phieu=`${phieuMuon.maPhieu}` 
                                                                data-ma-sach=`${sach.maSach}`
                                                                data-ten-sach=`${sach.tenSach}`
                                                                data-toggle="modal" 
                                                                data-target="#returnBookModal"
                                                                title="Trả sách"
                                                            )
                                                                i.fas.fa-undo.mr-1
                                                                | Trả sách
                                                            button.btn.btn-danger.btn-sm.lost-book-btn(
                                                                type="button" 
                                                                data-ma-phieu=`${phieuMuon.maPhieu}` 
                                                                data-ma-sach=`${sach.maSach}`
                                                                data-ten-sach=`${sach.tenSach}`
                                                                data-toggle="modal" 
                                                                data-target="#lostBookModal"
                                                                title="Báo mất sách"
                                                            )
                                                                i.fas.fa-exclamation-triangle.mr-1
                                                                | Mất sách
                                                    else
                                                        span.text-muted
                                                            i.fas.fa-ban.mr-1
                                                            | Không khả dụng
                        else
                            .alert.alert-info.text-center
                                i.fas.fa-info-circle.mr-2
                                | Không có sách nào trong phiếu mượn này.

    // Modal trả sách
    #returnBookModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="returnBookModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#returnBookModalLabel.modal-title
                        i.fas.fa-undo.mr-2
                        | Xác nhận trả sách
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p#returnBookMessage Bạn chắc chắn muốn xác nhận trả sách này không?
                    //- .form-group
                    //-     label(for="returnDate") Ngày trả thực tế:
                    //-     input.form-control(type="date" id="returnDate" name="returnDate" required)
                    //- .form-group
                    //-     label(for="bookCondition") Tình trạng sách khi trả:
                    //-     select.form-control(id="bookCondition" name="bookCondition" required)
                    //-         option(value="") Chọn tình trạng
                    //-         option(value="true") Tốt
                    //-         option(value="false") Hỏng/Cũ
                .modal-footer
                    button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Hủy
                    button#confirmReturnButton.btn.btn-success(type="button") Xác nhận trả sách

    // Modal mất sách
    #lostBookModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="lostBookModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#lostBookModalLabel.modal-title
                        i.fas.fa-exclamation-triangle.mr-2
                        | Xác nhận mất sách
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p#lostBookMessage Bạn chắc chắn muốn xác nhận sách này bị mất không?
                    .alert.alert-warning
                        i.fas.fa-info-circle.mr-2
                        strong Lưu ý: 
                        | Hành động này không thể hoàn tác. Độc giả sẽ phải bồi thường cho sách bị mất.
                .modal-footer
                    button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Hủy
                    button#confirmLostButton.btn.btn-danger(type="button") Xác nhận mất sách

    // Form ẩn để gửi request
    form#actionForm(method="POST" style="display: none;")
<<<<<<< HEAD
=======

    //- Modal Tra Sach
    #TraSachModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="TraSachModal" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#exampleModalLabelLogout.modal-title Trả sách
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p Xác nhận trả sách?
                .modal-footer
                    button.btn.btn-outline-primary(type="button" data-dismiss="modal") Không
                    button#tra-sach-link.btn.btn-primary(type="button") Xác nhận

    
    form(
        action=""
        id="lostBookForm"
        method="POST"
    )
>>>>>>> long
=======
>>>>>>> long

        form(
        action=""
        method="POST"
        id="tra-sach-item"
    )



    script(src="/vendor/jquery/jquery.min.js")
    script.
        $(document).ready(function() {
            let currentAction = {
                maPhieu: '',
                maSach: '',
                tenSach: '',
                actionType: '' // 'return' hoặc 'lost'
            };

            // Xử lý nút trả sách
            $('.return-book-btn').on('click', function() {
                currentAction.maPhieu = $(this).data('ma-phieu');
                currentAction.maSach = $(this).data('ma-sach');
                currentAction.tenSach = $(this).data('ten-sach');
                currentAction.actionType = 'return';
                
                $('#returnBookMessage').text(`Bạn chắc chắn muốn xác nhận trả sách "${currentAction.tenSach}" không?`);
            });

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> long
            // Xử lý nút mất sách
            $('.lost-book-btn').on('click', function() {
                currentAction.maPhieu = $(this).data('ma-phieu');
                currentAction.maSach = $(this).data('ma-sach');
                currentAction.tenSach = $(this).data('ten-sach');
                currentAction.actionType = 'lost';
                
                $('#lostBookMessage').text(`Bạn chắc chắn muốn xác nhận sách "${currentAction.tenSach}" bị mất không?`);
            });

            // Xác nhận trả sách
            $('#confirmReturnButton').on('click', function() {
                const form = $('#actionForm');
                form.attr('action', `/Library/admin/phieumuon/returnBook/${currentAction.maPhieu}/${currentAction.maSach}?_method=PATCH`);
                form.empty();
                form.submit();
            });

            // Xác nhận mất sách
            $('#confirmLostButton').on('click', function() {
                const form = $('#actionForm');
                form.attr('action', `/Library/admin/phieumuon/lostBook/${currentAction.maPhieu}/${currentAction.maSach}?_method=PATCH`);
                form.empty();
                form.submit();
            });

            // Reset form khi đóng modal
            $('#returnBookModal, #lostBookModal').on('hidden.bs.modal', function() {
                currentAction = {
                    maPhieu: '',
                    maSach: '',
                    tenSach: '',
                    actionType: ''
                };
            });
        });
<<<<<<< HEAD
=======

        

        // Book selection functionality
        $(document).on('click', '#bookList .product-detail-item', function() {
            if (!$(this).hasClass('disabled')) {
                const sach = {
                    maSach: $(this).data('ma-sach'),
                    tenSach: $(this).data('ten-sach'),
                    tinhTrangMuon: true
                };
                addBook(sach);
            }
        });


        // Xử lý trả sách
        let currentPhieuId = null;

        $('#phieuMuonDetailCard').on('click', '.tra-sach-btn', function() {
            currentPhieuId = $(this).data('phieu-id');
            console.log(currentPhieuId);
            if (typeof currentPhieuId === 'string') {
                currentPhieuId = currentPhieuId.trim();
            }
        });

        $('#tra-sach-link').on('click', function(e) {
            console.log("Test")
            e.preventDefault();
            if (currentPhieuId) {
                console.log('Submitting form to:', `/Library/admin/phieumuon/returnBook/${currentPhieuId}`);
                $('#tra-sach-item').attr('action', `/Library/admin/phieumuon/returnBook/${currentPhieuId}`);
                $('#tra-sach-item')[0].submit();
            } else {
                alert('Không thể xác định mã phiếu mượn!');
            }
        });

        function addBook(sach) {
            if (selectedBooks.length >= 3) {
                alert('Bạn chỉ có thể chọn tối đa 3 cuốn sách!');
                return;
            }

            if (!selectedBooks.some(b => b.maSach === sach.maSach)) {
                selectedBooks.push(sach);
                updateSelectedBooks();
            } else {
                alert('Sách này đã được chọn!');
            }
        }

        function removeBook(maSach) {
            selectedBooks = selectedBooks.filter(b => b.maSach !== maSach);
            updateSelectedBooks();
        }

        function updateSelectedBooks() {
            let html = '';
            selectedBooks.forEach(book => {
                html += `
                    <div class="selected-item">
                        <span>${book.maSach} - ${book.tenSach}</span>
                        <div class="d-flex align-items-center">
                            <label class="mr-2">Tình trạng mượn:</label>
                            <input type="checkbox" class="tinh-trang-muon" data-ma-sach="${book.maSach}" 
                                ${book.tinhTrangMuon ? 'checked' : ''} 
                                onchange="updateTinhTrangMuon('${book.maSach}', this.checked)">
                            <span class="ml-2">${book.tinhTrangMuon ? 'Mới' : 'Cũ'}</span>
                            <button type="button" class="btn btn-danger btn-sm ml-2" onclick="removeBook('${book.maSach}')">Xóa</button>
                        </div>
                    </div>`;
            });
            $('#selectedBooks').html(html);
            updateSelectedBooksInputs();
        }

        function updateTinhTrangMuon(maSach, isNew) {
            selectedBooks = selectedBooks.map(b => {
                if (b.maSach === maSach) {
                    b.tinhTrangMuon = isNew;
                }
                return b;
            });
            updateSelectedBooks();
        }

        function updateSelectedBooksInputs() {
            let inputsHtml = '';
            selectedBooks.forEach((book, index) => {
                inputsHtml += `<input type="hidden" name="ctPhieuMuonList[${index}].maSach" value="${book.maSach}"/>` +
                          `<input type="hidden" name="ctPhieuMuonList[${index}].tinhTrangMuon" value="${book.tinhTrangMuon}"/>`;
            });
            $('#selectedBooksInputs').html(inputsHtml);
        }

        // Handle book loss confirmation
        $('#phieuMuonDetailCard').on('click', '.lost-book-btn', function() {
            let maPhieu = $(this).data('ma-phieu');
            if (typeof maPhieu === 'string') {
                maPhieu = maPhieu.trim();
            }
            
            $('#confirmLossButton').on('click', function(e) {
                e.preventDefault();
                $('#lostBookForm').attr('action', `/Library/admin/phieumuon/lostBook/${maPhieu}?_method=PATCH`);
                $('#lostBookForm').submit();
            });
        });

        // Form submission validation
        form.addEventListener('submit', function(e) {
            if (selectedBooks.length === 0) {
                e.preventDefault();
                alert('Vui lòng chọn ít nhất một cuốn sách trước khi lưu phiếu mượn!');
                return false;
            }
        });

    
>>>>>>> long
=======
>>>>>>> long
