extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .container-fluid
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Chi Tiết Phiếu Mượn
                a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/phieumuon`) 
                    i.fas.fa-arrow-left.mr-1
                    | Quay lại
            
            .card-body
                // Thông tin chung phiếu mượn
                .row.mb-4
                    .col-md-12
                        h5.mb-3.text-primary
                            i.fas.fa-info-circle.mr-2
                            | Thông tin phiếu mượn
                        
                        .row
                            .col-md-6
                                .info-item.mb-2
                                    strong Mã phiếu mượn: 
                                    span.text-muted #{phieuMuon.maPhieu}
                                .info-item.mb-2
                                    strong Nhân viên cho mượn: 
                                    span.text-muted #{empData.hoNV} #{empData.tenNV}
                                .info-item.mb-2
                                    strong Độc giả: 
                                    span.text-muted #{dgData.hoDG} #{dgData.tenDG}
                            .col-md-6
                                .info-item.mb-2
                                    strong Hình thức mượn: 
                                    span.badge(class=(phieuMuon.hinhThuc == 1 ? 'badge-primary' : 'badge-info'))
                                        if phieuMuon.hinhThuc == 1
                                            | Mang về
                                        else
                                            | Tại chỗ
                                .info-item.mb-2
                                    strong Ngày mượn: 
                                    span.text-muted #{moment(phieuMuon.ngayMuon).format("DD/MM/YYYY")}
                                .info-item.mb-2
                                    strong Trạng thái chung: 
                                    span.badge(class=(trangThai ? 'badge-success' : 'badge-warning'))
                                        if trangThai
                                            | Đã trả toàn bộ
                                        else
                                            | Chưa trả hết

                hr

                // Danh sách sách đã mượn
                .row
                    .col-md-12
                        h5.mb-3.text-primary
                            i.fas.fa-book.mr-2
                            | Danh sách sách đã mượn
                        
                        if ctpmList && ctpmList.length > 0
                            .table-responsive
                                table.table.table-bordered.table-hover
                                    thead.thead-light
                                        tr
                                            th.text-center #
                                            th Mã sách
                                            th Tên sách
                                            th.text-center Ngày trả dự kiến
                                            th.text-center Tình trạng mượn
                                            th.text-center Trạng thái
                                            th.text-center Thao tác
                                    tbody
                                        each sach, index in ctpmList
                                            tr
                                                td.text-center #{index + 1}
                                                td 
                                                    strong #{sach.maSach}
                                                td #{sach.tenSach}
                                                td.text-center 
                                                    span.badge.badge-info #{moment(sach.ngayTra).format("DD/MM/YYYY")}
                                                td.text-center
                                                    span.badge(class=(sach.tinhTrangMuon ? 'badge-success' : 'badge-secondary'))
                                                        if sach.tinhTrangMuon
                                                            | Mới
                                                        else
                                                            | Cũ
                                                td.text-center
                                                    if (sach.tra == true)
                                                        span.badge.badge-success
                                                            i.fas.fa-check.mr-1
                                                            | Đã trả
                                                    else if (sach.tra == false)
                                                        span.badge.badge-danger
                                                            i.fas.fa-times.mr-1
                                                            | Mất sách
                                                    else
                                                        span.badge.badge-warning
                                                            i.fas.fa-clock.mr-1
                                                            | Chưa trả
                                                td.text-center
                                                    if sach.tra == null
                                                        .btn-group(role="group")
                                                            button.btn.btn-success.btn-sm.return-book-btn(
                                                                type="button" 
                                                                data-ma-phieu=`${phieuMuon.maPhieu}` 
                                                                data-ma-sach=`${sach.maSach}`
                                                                data-ten-sach=`${sach.tenSach}`
                                                                data-toggle="modal" 
                                                                data-target="#returnBookModal"
                                                                title="Trả sách"
                                                            )
                                                                i.fas.fa-undo.mr-1
                                                                | Trả sách
                                                            button.btn.btn-danger.btn-sm.lost-book-btn(
                                                                type="button" 
                                                                data-ma-phieu=`${phieuMuon.maPhieu}` 
                                                                data-ma-sach=`${sach.maSach}`
                                                                data-ten-sach=`${sach.tenSach}`
                                                                data-toggle="modal" 
                                                                data-target="#lostBookModal"
                                                                title="Báo mất sách"
                                                            )
                                                                i.fas.fa-exclamation-triangle.mr-1
                                                                | Mất sách
                                                    else
                                                        span.text-muted
                                                            i.fas.fa-ban.mr-1
                                                            | Không khả dụng
                        else
                            .alert.alert-info.text-center
                                i.fas.fa-info-circle.mr-2
                                | Không có sách nào trong phiếu mượn này.

    // Modal trả sách
    #returnBookModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="returnBookModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#returnBookModalLabel.modal-title
                        i.fas.fa-undo.mr-2
                        | Xác nhận trả sách
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p#returnBookMessage Bạn chắc chắn muốn xác nhận trả sách này không?
                    //- .form-group
                    //-     label(for="returnDate") Ngày trả thực tế:
                    //-     input.form-control(type="date" id="returnDate" name="returnDate" required)
                    //- .form-group
                    //-     label(for="bookCondition") Tình trạng sách khi trả:
                    //-     select.form-control(id="bookCondition" name="bookCondition" required)
                    //-         option(value="") Chọn tình trạng
                    //-         option(value="true") Tốt
                    //-         option(value="false") Hỏng/Cũ
                .modal-footer
                    button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Hủy
                    button#confirmReturnButton.btn.btn-success(type="button") Xác nhận trả sách

    // Modal mất sách
    #lostBookModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="lostBookModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#lostBookModalLabel.modal-title
                        i.fas.fa-exclamation-triangle.mr-2
                        | Xác nhận mất sách
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p#lostBookMessage Bạn chắc chắn muốn xác nhận sách này bị mất không?
                    .alert.alert-warning
                        i.fas.fa-info-circle.mr-2
                        strong Lưu ý: 
                        | Hành động này không thể hoàn tác. Độc giả sẽ phải bồi thường cho sách bị mất.
                .modal-footer
                    button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Hủy
                    button#confirmLostButton.btn.btn-danger(type="button") Xác nhận mất sách

    // Form ẩn để gửi request
    form#actionForm(method="POST" style="display: none;")

    script(src="/vendor/jquery/jquery.min.js")
    script.
        $(document).ready(function() {
            let currentAction = {
                maPhieu: '',
                maSach: '',
                tenSach: '',
                actionType: '' // 'return' hoặc 'lost'
            };

            // Xử lý nút trả sách
            $('.return-book-btn').on('click', function() {
                currentAction.maPhieu = $(this).data('ma-phieu');
                currentAction.maSach = $(this).data('ma-sach');
                currentAction.tenSach = $(this).data('ten-sach');
                currentAction.actionType = 'return';
                
                $('#returnBookMessage').text(`Bạn chắc chắn muốn xác nhận trả sách "${currentAction.tenSach}" không?`);
            });

            // Xử lý nút mất sách
            $('.lost-book-btn').on('click', function() {
                currentAction.maPhieu = $(this).data('ma-phieu');
                currentAction.maSach = $(this).data('ma-sach');
                currentAction.tenSach = $(this).data('ten-sach');
                currentAction.actionType = 'lost';
                
                $('#lostBookMessage').text(`Bạn chắc chắn muốn xác nhận sách "${currentAction.tenSach}" bị mất không?`);
            });

            // Xác nhận trả sách
            $('#confirmReturnButton').on('click', function() {
                const form = $('#actionForm');
                form.attr('action', `/Library/admin/phieumuon/returnBook/${currentAction.maPhieu}/${currentAction.maSach}?_method=PATCH`);
                form.empty();
                form.submit();
            });

            // Xác nhận mất sách
            $('#confirmLostButton').on('click', function() {
                const form = $('#actionForm');
                form.attr('action', `/Library/admin/phieumuon/lostBook/${currentAction.maPhieu}/${currentAction.maSach}?_method=PATCH`);
                form.empty();
                form.submit();
            });

            // Reset form khi đóng modal
            $('#returnBookModal, #lostBookModal').on('hidden.bs.modal', function() {
                currentAction = {
                    maPhieu: '',
                    maSach: '',
                    tenSach: '',
                    actionType: ''
                };
            });
        });