extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .col-lg-12
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Danh Sách Phiếu Mượn
                a.btn.btn-primary(href=`${prefixAdmin}/phieumuon/create`) + Thêm phiếu mượn
            
            .table-responsive.p-3
                table#dataTable.table.align-items-center.table-flush
                    thead.thead-light
                        tr
                            th Mã Phiếu
                            th Độc Giả
                            th Hình Thức
                            th Ngày Mượn
                            th Nhân Viên
                            th Thao Tác
                    tbody#phieuMuonTableBody
                        each phieu in phieuMuonList
                            tr.product-item
                                td.align-middle #{phieu.maPhieu}
                                td.align-middle #{phieu.dgFullName}
                                td.align-middle
                                    if phieu.hinhThuc == true
                                        | Mang về
                                    else
                                        | Tại chỗ
                                td.align-middle #{phieu.ngayMuon.toLocaleDateString('vi-VN')}
                                td.align-middle #{phieu.empFullName}
                                td.align-middle
                                    a.btn.btn-sm.btn-danger.edit-type-btn.mr-1(href=`${prefixAdmin}/phieumuon/detail/${phieu.maPhieu}`) Chi tiết


    script(src="/vendor/jquery/jquery.min.js")