extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .col-lg-12
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Danh Sách Thể Loại
                a.btn.btn-primary(href=`${prefixAdmin}/type/create`) + Thêm thể loại
                button.btn.btn-warning#btnUndo Khôi phục
            
            .table-responsive.p-3
                table#dataTable.table.align-items-center.table-flush
                    thead.thead-light
                        tr
                            th Mã Thể Loại
                            th Tên Thể Loại
                            th Hoạt Động
                    tbody#typeTableBody
                        each type in typeList
                            tr.product-item
                                td.align-middle #{type.maTL}
                                td.align-middle #{type.tenTL}
                                td.align-middle
                                    a.btn.btn-sm.btn-primary.edit-type-btn.mr-1(href=`${prefixAdmin}/type/edit/${type.maTL}`) Sửa
                                    a.btn.btn-sm.btn-danger.delete-type-btn.mr-1(href="javascript:void(0);" data-type-id=`${type.maTL}` data-toggle="modal" data-target="#DeleteModal") Xóa

    //- Modal Delete Item
    #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#exampleModalLabelLogout.modal-title Xóa thể loại
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Bạn chắc chắn muốn xóa thể loại này không?
                .modal-footer
                    button.btn.btn-outline-primary(type="button" data-dismiss="modal") Không
                    button#delete-link.btn.btn-primary(type="button") Xóa

    form(
        action=""
        method="POST"
        id="delete-type-item"
    )
    
    script(src="/js/adminjs//type/type-undo.js")
    
