extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .col-lg-12
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Danh Sách Nhân Viên
                a.btn.btn-primary(href=`${prefixAdmin}/staff/create`) + Thêm nhân viên
                button.btn.btn-warning#btnUndoStaff Hoàn tác
            
            .table-responsive.p-3
                table#dataTable.table.align-items-center.table-flush
                    thead.thead-light
                        tr
                            th Mã Nhân Viên
                            th Họ Tên
                            th Giới Tính
                            th Email
                            th Điện Thoại 
                            th Hoạt Động
                    tbody#staffTableBody
                        each staff in staffList
                            tr.product-item
                                td.align-middle #{staff.maNV}
                                td.align-middle #{staff.hoNV} #{staff.tenNV}
                                td.align-middle
                                    if staff.gioiTinh === true
                                        | Nam
                                    else
                                        | Nữ
                                td.align-middle #{staff.email}
                                td.align-middle #{staff.dienThoai}
                                td.align-middle
                                    a.btn.btn-sm.btn-primary.edit-type-btn.mr-1(href=`${prefixAdmin}/staff/edit/${staff.maNV}`) Sửa
                                    a.btn.btn-sm.btn-danger.delete-staff-btn.mr-1(href="javascript:void(0);" data-staff-id=`${staff.maNV}` data-toggle="modal" data-target="#DeleteModal") Xóa

    //- Modal Delete Item
    #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#exampleModalLabelLogout.modal-title Xóa nhân viên
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p Bạn chắc chắn muốn xóa nhân viên này không?
                .modal-footer
                    button.btn.btn-outline-primary(type="button" data-dismiss="modal") Không
                    button#delete-link.btn.btn-primary(type="button") Xóa

    form(
        action=""
        method="POST"
        id="delete-staff-item"
    )