ul.navbar-nav.sidebar.sidebar-light.accordion#accordionSidebar
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href="#")
        .sidebar-brand-text.mx-3 Quản lý thư viện
    hr.sidebar-divider.my-0
    li.nav-item.active
        a.nav-link(href=`${prefixAdmin}/staff`)
            i.fa-solid.fa-users
            span Quản lý nhân viên
    li.nav-item
        a.nav-link.collapsed(href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true" aria-controls="collapsePage")
            i.fa-solid.fa-book
            span Quản lý đầu sách/sách 
        #collapsePage.collapse(aria-labelledby="headingPage" data-parent="#accordionSidebar")
            .bg-white.py-2.collapse-inner.rounded
                a.collapse-item(href=`${prefixAdmin}/isbn_book`) Quản lý
                a.collapse-item(href=`${prefixAdmin}/isbn_book/report`) Báo cáo danh mục
    li.nav-item
        a.nav-link(href=`${prefixAdmin}/author`)
            i.fa-solid.fa-user-pen
            span Danh sách tác giả
    li.nav-item
        a.nav-link.collapsed(href="#" data-toggle="collapse" data-target="#readerPage" aria-expanded="true" aria-controls="readerPage")
            i.fa-solid.fa-book-open-reader
            span Danh sách độc giả
        #readerPage.collapse(aria-labelledby="headingPage" data-parent="#accordionSidebar")
            .bg-white.py-2.collapse-inner.rounded
                a.collapse-item(href=`${prefixAdmin}/reader`) Quản lý
                a.collapse-item(href=`${prefixAdmin}/reader/report?type=list`) Báo cáo danh mục
                a.collapse-item(href=`${prefixAdmin}/reader/report?type=overdue`) Mượn sách quá hạn
    li.nav-item
        a.nav-link(href=`${prefixAdmin}/type`)
            i.fa-solid.fa-font-awesome
            span Danh sách thể loại
    li.nav-item
        a.nav-link(href=`${prefixAdmin}/phieumuon`)
            i.fa-solid.fa-font-awesome
            span Danh sách phiếu mượn

    script.
        document.addEventListener('DOMContentLoaded', function() {
            const currentPath = window.location.pathname;
            const navLinks = document.querySelectorAll('.nav-item .nav-link');

            document.querySelectorAll('.nav-item').forEach(item => {
                item.classList.remove('active');
            });
            navLinks.forEach(link => {
                const href = link.getAttribute('href');

                if (href !== '#' && currentPath.includes(href)) {
                    link.closest('.nav-item').classList.add('active');
                }
            });
        });